.container2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
 
}
.card-body p,
.card-body a {
    margin-bottom: 10px;
}
.card-body {
  flex: 1; /* Elastyczność, aby dostosować się do zmiany zawartości */
  overflow-y: auto; /* Włącz pasek przewijania, jeśli zawartość jest zbyt duża */
}
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 4px 8px;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 5px; 
}


button:hover {
    background-color: #0056b3;
}

.des-row2 {
  display: flex;
 align-items: flex-start;

}
.des-row2 {
  display: inline-block;
 
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
  justify-items: center; 
}


 .event {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 12px 0px #ccc;
    background-color: #fff;
    padding: 5px;
    border-radius: 20px;
    margin-top: 20px;
    
}


.grid .btn-container {
    display: flex; 
    justify-content: center; 
}

.btn {
    margin: 0 5px; 
}

.btn-primary.show-sub-event {
  height: 37px; 
}

.btn.disabled {
  pointer-events: none;
  opacity: 0.6;
}

 
  .des7{ 
    color: #000000;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
  }
  
  .des3 {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: bold;
  }
  
 
  .des4 {
    margin-left: 10px;
    font-size: 15px;
  }
  
  

  .btn-container {
    display: flex; 
    justify-content: center; 
}


.grid-wrapper2 {
  display: none; 
}

.grid-wrapper {
  display: none; 
}

.grid-wrapper3 {
  display: none; 
}
.expand-toggle {
  cursor: pointer;
  margin-top: 30px;
  font-weight: bold;
}

.expand-toggle3 {
  cursor: pointer;
  margin-top: 30px;
  font-weight: bold;
}

.expand {
  cursor: pointer;
  margin-top: 30px;
  font-weight: bold;
}
.toggle-icon {
  display: inline-block;
  transition: transform 0.2s ease; 
}

.expanded .toggle-icon {
  transform: rotateX(180deg); 
}

.toggle-icon2 {
  display: inline-block;
  transition: transform 0.2s ease; 
  cursor: pointer;
}
.link-frame {
  border: 1px solid #ccc;
  padding: 5px;
  display: inline-block;
  border-radius: 5px;
}
.spacer {
  margin-top: 20px;
}

.row1
{
  margin-left: 280px;
}

.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.dialog-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.dialog-content button {
  margin: 5px;
  cursor: pointer;
}



.dialog2 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
    bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: auto;
}

.dialog-content2 {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-height: 60%; 
  overflow-y: auto;
  width: 50%;
}

.listunia
{
  margin-top: 10px;
}

.leave
{
  margin-top: 10px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  margin: 5px;
  font-size: 14px;
  color: #333;
}

#dese
{
  font-weight: bold;
  font-size: 22px;
  
}

#eve_dese
{
  font-size: 17px;
  text-align: justify;
}
