
.side-bar {
    position: fixed;
    background-color: white;
     top: 55px;
    width: 170px;
    bottom: 0;
    left: 0;
    box-shadow: 5px 3px 5px -2px rgba(0, 0, 0, 0.2);
    margin-right: 200px;
    overflow-y: auto;
    height: 100%;
}


.side-bar-info{
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:16px;
}
.side-bar-info:hover{
    cursor: pointer;
    background-color: aqua;
    transition-duration: 1s;
}
.side-bar-underinfo{
   display: none;
   
}

.side-bar-underinfo.selected{
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:16px;
}
.side-bar-underinfo:hover{
    cursor: pointer;
    background-color: rgb(0, 146, 146);
    transition-duration: 1s;
}
.table-info{
   display: none;
}
.table-info.selected{
    overflow-x:auto;
  display: block;
}

.side-bar-underinfo.active {
    background-color: #007bff; /* Zmiana koloru tła po zaznaczeniu */
    color: #fff; /* Zmiana koloru tekstu po zaznaczeniu */
  }

  @media only screen and (max-width: 800px) {
    .side-bar{
        display: none;
    }
  }
  @media only screen and (min-width: 800px){
    .H2p{
        display:none;
    }
  }



